Labworks/Lab Ex4-XML/product.dtd

<!ELEMENT products (product+)>
<!ELEMENT product (productName,price,availableQuantity)>
<!ELEMENT productName (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT availableQuantity (#PCDATA)>
<!ATTLIST product productId ID #REQUIRED>
<!ATTLIST product category (Clothing|Electronics|Books) "dummy product" >